ion-content{
    --background: linear-gradient(to bottom left, #072355 60%,#6c8eac);
  }

#title{
  text-align: center;
  font-size: 170%;
  font-weight: bold;
  color: #fff;
  // text-decoration: underline;
  margin-top: 5%;
}

#titleMenu{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}