ion-content{
    --background: linear-gradient(to bottom left, #072355 60%,#6c8eac);
    margin-top: 30%;
}

img{
    width: 60%;
    float: right;
    margin-right: 5%;
  }
  
  #logOutButton{
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
  }

#containerTitle{
    background-color: #072355;
    // padding-bottom: 15%;
    
}

#title{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #fff;
    // text-decoration: underline;
    margin-top: 5%;
    position: relative;
}
  
#titleMenu{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  .note-input{
    --background: #344C8B;
    --color: #fff;
  }


ion-item{
    padding: 4%;
}

label{
    color: #ffff;
    font-weight: bold;
}
.cancelButton{
    float: left;
    margin-left: 80%;
}

span{
    color: red;
}
