ion-content{
    --background: linear-gradient(to bottom left, #072355 60%,#6c8eac) !important;
}

ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

a{
    color: #fff;
}