<ion-header>
  <app-main-menu></app-main-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-header>

<!-- Slider Menu dragged from main-menu ->(ion-menu-button is inside) -->
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title id="titleMenu">Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="menu-content">
    <ion-list>
      <ion-item>
        <ion-button class="menubuttons" (click)="loginOrJustEnter()" fill="clear" color="dark" strong="true">
          Inicio</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="configUser()" fill="clear" color="dark" strong="true">Configuración
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="logout()" fill="clear" color="dark" strong="true">Desconectarse
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<div id="containerTitle">
  <ion-title id="title">Administrar Mantenimientos</ion-title>
  <ion-button id="configButton" shape="round" color="primary" (click)="userConfig()">
    <ion-icon name="cog-outline"></ion-icon>
  </ion-button>
  <ion-searchbar showCancelButton="focus" (ionChange)="setSearchInput($event)"></ion-searchbar>
</div>

<ion-content>
  <div *ngFor="let maintenance of maintenances">
    <ion-card
      *ngIf="maintenance.employeeId == employeeId && maintenance.ship.name.toLowerCase().indexOf(getSearchInput()) != -1 || maintenance.employeeId == employeeId && maintenance.service.toLowerCase().indexOf(getSearchInput()) != -1" >
      <ion-card-header>
        <ion-card-title>{{maintenance.ship.name}}</ion-card-title>  
        <ion-card-subtitle>{{maintenance.service}}</ion-card-subtitle>
        <ion-card-subtitle>{{maintenance.dock}}</ion-card-subtitle>
        <ion-card-subtitle>{{maintenance.state}}</ion-card-subtitle>
        <ion-card-subtitle>{{maintenance.note}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button class="modButton" shape="round" color="warning" [routerLink]="['/mod-notes', maintenance]">
          <ion-icon name="brush-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
