<ion-header>
  <app-main-menu></app-main-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-header>

<!-- Slider Menu dragged from main-menu ->(ion-menu-button is inside) -->
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title id="titleMenu">Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="menu-content">
    <ion-list>
      <ion-item><ion-button class="menubuttons" (click)="loginOrJustEnter()" fill="clear" color="dark" strong="true">Conectarse</ion-button></ion-item>
      <ion-item><ion-button class="menubuttons" (click)="goToAboutUs()" fill="clear" color="tertiary" strong="true">Sobre Nosotros</ion-button></ion-item>
      <ion-item><ion-button class="menubuttons" (click)="goToServices()" fill="clear" color="dark" strong="true">Servicios</ion-button></ion-item>
      <ion-item><ion-button class="menubuttons" (click)="goToProfessionals()" fill="clear" color="dark" strong="true">Profesionales</ion-button></ion-item>
      <ion-item><ion-button class="menubuttons" (click)="goToContact()" fill="clear" color="dark" strong="true">Contáctanos</ion-button></ion-item>
      <ion-item><ion-button class="menubuttons" (click)="goToHome()" fill="clear" color="dark" strong="true">Inicio</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-content>
  <div id="titleContainer"><ion-title id="title">¿Quiénes Somos?</ion-title></div>
</ion-content>


<!-- Footer Content -->
<ion-footer>
  <app-info-footer></app-info-footer>
</ion-footer>