#container{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffff;
}

.mail-container{
    float: left;
}
.phone-container{
    float: right;
    padding-right: 5%;
}

p{
    color: #ffff;
    font-size: 75%;
    float: right;
    text-align: center;
    padding-bottom: 5%;
}

ion-icon{
    color: #ffff;
    padding-top: 6%;
}
