ion-content{
    --background: linear-gradient(to bottom left, #072355 60%,#6c8eac);
    margin-top: 30%;
}

#containerTitle{
    background-color: #072355;
    // padding-bottom: 15%;
    
}

#title{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #fff;
    // text-decoration: underline;
    margin-top: 5%;
    position: relative;
}
  
#titleMenu{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


label{
    color: #ffff;
    font-weight: bold;
}

.cancelButton{
    float: left;
}

span{
    color: red;
}