<ion-header>
  <app-main-menu></app-main-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-header>

<!-- Slider Menu dragged from main-menu ->(ion-menu-button is inside) -->
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title id="titleMenu">Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="menu-content">
    <ion-list>
      <ion-item>
        <ion-button class="menubuttons" (click)="loginOrJustEnter()" fill="clear" color="dark" strong="true">Conectarse
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToAboutUs()" fill="clear" color="dark" strong="true">Sobre Nosotros
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToServices()" fill="clear" color="tertiary" strong="true">Servicios
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToProfessionals()" fill="clear" color="dark" strong="true">
          Profesionales</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToContact()" fill="clear" color="dark" strong="true">Contáctanos
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToHome()" fill="clear" color="dark" strong="true">Inicio</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-content>
  <ion-title id="title">Nuestros Servicios</ion-title>
  <div id="buttonsContainer">
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Trabajos Submarinos</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Habilitación</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Conversión</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Elctricidad & Electrónica</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Motores</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Tratamiento del Casco</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Inspecciones</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Equipo Móvil</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Carga Pesada</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Trabajos Mecánicos</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Trabajos de Tuberías</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Trabajos Mecánicos</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Reparación de Hélices</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Propulsión</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Ejes de Cola</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Trabajos Verticales</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Andamio</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Trabajos de Acero</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Tratamiento de Tanques</ion-button>
    <ion-button id="serviceButton" (click)="goToAboutUs()" shape="round" expand="block" size="large">Otros Servicios</ion-button>

  </div>
</ion-content>

<!-- Footer Content -->
<ion-footer>
  <app-info-footer></app-info-footer>
</ion-footer>