<ion-header>
  <app-main-menu></app-main-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-header>

<!-- Slider Menu dragged from main-menu ->(ion-menu-button is inside) -->
<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title id="titleMenu">Administración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="menu-content">
    <ion-list>
      <ion-item>
        <ion-button class="menubuttons" (click)="loginOrJustEnter()" fill="clear" color="dark" strong="true">
          Principal</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToEmployees()" fill="clear" color="dark" strong="true">Empleados
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToShips()" fill="clear" color="tertiary" strong="true">Barcos
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToMaintenances()" fill="clear" color="dark" strong="true">
          Reparaciones</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToUsers()" fill="clear" color="dark" strong="true">Usuarios
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="goToConfig()" fill="clear" color="dark" strong="true">Configuración
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="menubuttons" (click)="logout()" fill="clear" color="dark" strong="true">Desconectarse
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Main Content -->
<div id="containerTitle">
  <ion-title id="title">Administrar Navíos</ion-title>
  <ion-button id="addButton" shape="round" color="success" (click)="addShip()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
  <ion-searchbar showCancelButton="focus" (ionChange)="setSearchInput($event)"></ion-searchbar>
</div> 

<ion-content>
  <div *ngFor="let ship of ships">
    <ion-card *ngIf="ship.name.toLowerCase().indexOf(getSearchInput()) != -1 || ship.type.toLowerCase().indexOf(getSearchInput()) != -1 || ship.client.toLowerCase().indexOf(getSearchInput()) != -1">
      <ion-card-header>
        <ion-card-subtitle>Tipo: {{ship.type}}</ion-card-subtitle>
        <ion-card-subtitle>Cliente: {{ship.client}}</ion-card-subtitle>
        <ion-card-title>{{ship.name}}</ion-card-title>  
        <ion-button class="modButton" shape="round" color="warning" [routerLink]="['/mod-ship', ship]">
          <ion-icon name="brush-outline"></ion-icon>
        </ion-button>
        <ion-button class="deleteButton" shape="round" color="danger" (click)="deleteShip(ship.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-header>
    </ion-card> 
  </div>
</ion-content>
